# Project Name: Salary Prediction From Scratch To Deployment

## Part 2 : Data Cleaninig And Formatting

In [1]:
## Improt libraries

import pandas as pd
import numpy as np

In [2]:
## Import the Dataset

df=pd.read_csv("Glassdoor_scratch.csv")
df.head()

,Headquarter,Size,Founded,Type,Industry,Revenue,Employer,Job_Title,Basic_Pay,Additional_Pay,...,Max_Pay,Min_Pay,Rating,Positive,Negative,Neutral,Online,Campus,Refferal,City
0,"New York, NY",1001 to 5000 Employees,2000.0,Company - Private,Consulting,$100 to $500 million (USD),Fractal,Fractal Data Scientist Salaries in Mumbai Area,"₹ 15,96,545","₹ 1,75,981",...,"₹2,007K",₹817K,4.0,72%,19%,9%,48%,20%,15%,Mumbai
1,"Mumbai, India",1001 to 5000 Employees,NaN,Company - Private,Real Estate,Unknown / Non-Applicable,Housing.com,Housing.com Data Scientist Salaries in Mumbai ...,"₹ 23,20,161",NaN,...,"₹2,454K",₹206K,4.2,54%,25%,21%,31%,31%,15%,Mumbai
2,"Marlborough, MA",501 to 1000 Employees,2013.0,Company - Private,Consulting,Unknown / Non-Applicable,Quantiphi,Quantiphi Data Scientist Salaries in Mumbai Area,"₹ 9,65,374","₹ 54,968",...,"₹1,568K",₹770K,3.5,47%,29%,24%,68%,14%,10%,Mumbai
3,"Mumbai, India",10000+ Employees,1977.0,Company - Public (RIL),Energy,$10+ billion (USD),Reliance Industries,Reliance Industries Data Scientist Salaries in...,"₹ 18,64,862","₹ 2,14,881",...,"₹2,585K",₹926K,3.8,77%,8%,15%,60%,14%,9%,Mumbai
4,"Mumbai, India",5001 to 10000 Employees,2010.0,Company - Private,"Cable, Internet & Telephone Providers",Unknown / Non-Applicable,Jio,Jio Data Scientist Salaries in Mumbai Area,"₹ 8,00,000","₹ 2,09,275",...,"₹1,300K",₹507K,3.7,63%,17%,20%,44%,18%,17%,Mumbai

In [7]:
## look at th column headers and descreption

df.columns

Index(['Headquarter', 'Size', 'Founded', 'Type', 'Industry', 'Revenue',
       'Employer', 'Job_Title', 'Basic_Pay', 'Additional_Pay', 'Avg_Pay',
       'Avg_Pay_Num', 'Avg_Pay_Text', 'Max_Pay', 'Min_Pay', 'Rating',
       'Positive', 'Negative', 'Neutral', 'Online', 'Campus', 'Refferal',
       'City'],
      dtype='object')

### Columns description

1.  Headquarter     : Location of companies headquarter
2.  Size            : Number of employees in organization 
3.  Founded         : Founding year of organization 
4.  Type            : Sector of organization(private or public)
5.  Industry        : Industry to which organization belongs to
6.  Revenue         : Annual revnue of organization
7.  Employer        : Name of organization
8.  Job_Title       : Designation of employee
9.  Basic_Pay       : Basic salary of employee
10. Additional_Pay  : Possible additional income
11. Avg_Pay         : Average salary of employee
12. Avg_Pay_Num     : Average salary of employee
13. Avg_Pay_Text    : Average salary of employee stored in text
14. Max_Pay         : Maximum salary of employee
15. Min_Pay         : Minimum salary of employee
16. Rating          : Rating of organization 
17. Positive        : Interview with positive outcome
18. Negative        : Interview with negative outcome
19. Neutral         : Interview with negative outcome
20. Online          : Recruitment mode : Online 
21. Campus          : Recruitment mode : campus
22  Refferal        : Recruitment mode : refferal
23. City            : Location where employee works

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Headquarter     714 non-null    object
 1   Size            714 non-null    object
 2   Founded         633 non-null    float64
 3   Type            714 non-null    object
 4   Industry        714 non-null    object
 5   Revenue         714 non-null    object
 6   Employer        714 non-null    object
 7   Job_Title       714 non-null    object
 8   Basic_Pay       714 non-null    object
 9   Additional_Pay  239 non-null    object
 10  Avg_Pay         133 non-null    object
 11  Avg_Pay_Num     688 non-null    object
 12  Avg_Pay_Text    711 non-null    object
 13  Max_Pay         130 non-null    object
 14  Min_Pay         130 non-null    object
 15  Rating          713 non-null    float64
 16  Positive        691 non-null    object
 17  Negative        687 non-null    object
 18  Neutral         661 non-null    object
 19  Online          642 non-null    object
 20  Campus          629 non-null    object
 21  Refferal        597 non-null    object
 22  City            714 non-null    object
dtypes: float64(2), object(21)
memory usage: 128.4+ KB

In [4]:
## Check the unique values of all columns

for i in df.columns:
    if i not in ["Job_Title","Avg_Pay_Text","Employer"]:
        print(i,"==>",df[i].unique())
        print()

Headquarter ==> ['New York, NY' 'Mumbai, India' 'Marlborough, MA' 'Bangalore, India'
 'Dublin, Ireland' 'Troy, MI' 'Kolhāpur, India' 'Greenwich, CT'
 'London, United Kingdom' 'Teaneck, NJ' 'Pune, India' 'Mountain View, CA'
 'San Mateo, CA' 'Amsterdam, Netherlands' 'Copenhagen, Denmark'
 'Gardena, CA' 'Seattle, WA' 'Redmond, WA' 'San Jose, CA' 'Northbrook, IL'
 'Cincinnati, OH' 'Vadodara, India' 'Jefferson City, MO' 'Gurgaon, India'
 'Chākan, India' 'Princeton, NJ' 'Zug, Switzerland' 'Palo Alto, CA'
 'Minneapolis, MN' 'Deerfield, IL' 'Paris, France' 'Santa Clara, CA'
 'San Francisco, CA' 'Sydney, Australia' 'Los Angeles, CA'
 'Tuscaloosa, AL' 'Rochester, MI' 'Vāshi, India' 'Nāgpur, India'
 'Cologne, Germany' 'Chicago, IL' 'Hyderābād, India' 'San Diego, CA'
 'Thāne, India' 'Pittsburgh, PA' 'Clark, NJ' 'Kuwait City, Kuwait'
 'Frankfurt am Main, Germany' 'Alphen aan den Rijn, Netherlands'
 'Zürich, Switzerland' 'Houston, TX' 'Irving, TX' 'Noida, India'
 'Newbury, United Kingdom' 'Moline, IL' 'Columbia, MD' 'Milpitas, CA'
 'Singapore, Singapore' 'Grenoble, France' 'Amstelveen, Netherlands'
 'Fremont, CA' 'Charlotte, NC' 'Roseland, NJ' 'Espoo, Finland'
 'East Moline, IL' 'Cork, Ireland' 'Raleigh, NC' 'Cupertino, CA'
 'Buenos Aires, Argentina' 'Fort Mill, SC' 'Towson, MD'
 'Bay Harbor Islands, FL' 'Chandigarh, India' 'Boston, MA' 'Irvine, CA'
 'Corona, CA' 'Durham, NC' 'Bonita Springs, FL' 'Tampa, FL' 'Dallas, TX'
 'Leuven, Belgium' 'Stockholm, Sweden' 'Campbell, CA' 'Redwood City, CA'
 'Sunnyvale, CA' 'Nokia, Finland' 'Round Rock, TX' 'Walldorf, Germany'
 'Southfield, MI' 'Jakarta, Indonesia' 'New Delhi, India' 'Minnetonka, MN'
 'Gerlingen, Germany' 'Koramangala, India' 'Dubai, United Arab Emirates'
 'Herndon, VA' 'Jersey City, NJ' 'Eden Prairie, MN' 'Sterling, VA'
 'Luxembourg, Luxembourg' 'Hanover, MD' 'Piscataway, NJ' 'Iselin, NJ'
 'Blue Bell, PA' 'Berlin, Germany' 'Kansas City, MO' 'Harrison, OH'
 'Kuala Lumpur, Malaysia' 'Tysons Corner, VA' 'João Pessoa, Brazil'
 'Eindhoven, Netherlands' 'Atlanta, GA' 'Las Vegas, NV' 'Scottsdale, AZ'
 'Suwŏn, South Korea' 'Bellevue, WA' 'Short Hills, NJ' 'Toronto, Canada'
 'Bhilai, India' 'San Ramon, CA' 'Cambridge, MA' 'Chennai, India'
 'Ōsaka, Japan' 'Brisbane, Australia' 'San Antonio, TX' 'Mundelein, IL'
 'Gothenburg, Sweden' 'Freehold, NJ' 'Ghaziabad, India' 'Brookfield, WI'
 'Tirupati, India' 'Santa Monica, CA' 'Overland Park, KS' 'Stamford, CT'
 'Naperville, IL' 'Brentford, United Kingdom' 'Greenwood Village, CO'
 'Lincolnshire, IL' 'Dublin, CA' 'Oklahoma City, OK' 'Mc Lean, VA'
 'Noosa Heads, Australia' 'Mangalore, India' 'Westlake Village, CA'
 'Sheung Wan, Hong Kong' 'Plano, TX' 'Kenilworth, NJ' 'Hamilton, NJ'
 'Arlington, VA' 'Ahmedabad, India' 'Culver City, CA' 'Monroe, LA']

Size ==> ['1001 to 5000 Employees' '501 to 1000 Employees' '10000+ Employees'
 '5001 to 10000 Employees' '51 to 200 Employees' '1 to 50 Employees'
 '201 to 500 Employees']

Founded ==> [2000.   nan 2013. 1977. 2010. 1850. 1997. 2005. 2016. 1981. 1989. 1998.
 1995. 1980. 2011. 1848. 1994. 1986. 1996. 1984. 1928. 2006. 2014. 2018.
 2012. 2015. 2017. 1945. 1911. 1999. 1975. 1799. 2004. 1993. 2007. 1947.
 1843. 1985. 2001. 1987. 1991. 1923. 1969. 2008. 1866. 1926. 2003. 2009.
 1964. 2002. 1972. 1979. 2019. 1836. 1967. 1690. 1856. 1889. 1812. 1982.
 1990. 1968. 1837. 1971. 1885. 1949. 1988. 1976. 1956. 1862. 1784. 1852.
 1876. 1939. 1864. 1891. 1951. 1883. 1865. 1962. 1992. 1886. 1906. 1973.
 1917. 1892. 1983. 1872. 1916. 1925. 1958. 1870. 1871. 1835. 1841. 1884.
 1963. 1918. 1907. 1830. 1946. 1922. 1919. 1670. 1930.]

Type ==> ['Company - Private' 'Company - Public (RIL)' 'Company - Public'
 'Company - Public (INFY)' 'Company - Public (ACN)'
 'Company - Public (HDB)' 'Subsidiary or Business Segment'
 'Company - Public (MNM)' 'Company - Public (500302)'
 'Company - Public (XPO)' 'Company - Public (PUK)'
 'Company - Public (CTSH)' 'Company - Public (TECHM)'
 'Company - Public (GOOG)' 'Company - Public (ECLERX)'
 'Company - Public (ISIN )' 'Company - Public (HDFC)'
 'Company - Public (WIT)' 'Company - Public (AMZN)'
 'Company - Public (IBM)' 'Company - Public (IBN)'
 'Company - Public (MINDTREE)' 'Company - Public (MSFT)'
 'Company - Public (JPM)' 'Company - Public (WNS)'
 'Company - Public (SIE)' 'Company - Public (TTM)'
 'Company - Public (504067)' 'Company - Public (CRISIL)'
 'Company - Public (NLSN)' 'Company - Public (MMYT)'
 'Company - Public (EDELWEISS)' 'Unknown' 'Company - Public (MSCI)'
 'Company - Public (532892)' 'Company - Public (GIS)'
 'Company - Public (MDLZ)' 'Company - Public (ENT)'
 'Company - Public (ZEN)' 'College / University' 'Company - Public (TDC)'
 'Company - Public (ASX FLN)' 'Company - Public (MORN)'
 'Company - Public (BNP)' 'Company - Public (WKL)'
 'Company - Public (BARC)' 'Company - Public (SLB)'
 'Company - Public (ML)' 'Company - Public (XELA)'
 'Company - Public (HCLT)' 'Company - Public (C)'
 'Company - Public (VODPF)' 'Company - Public (BSOFT)'
 'Company - Public (DE)' 'Company - Public (COUP)'
 'Company - Public (HON)' 'Company - Public (KPITTECH)'
 'Company - Public (ADP)' 'Company - Public (TIE)'
 'Company - Public (JCI)' 'Company - Public (RHT)'
 'Company - Public (STRTECH)' 'Company - Public (AAPL)'
 'Company - Public (GLOB)' 'Company - Public (TOM2)'
 'Non-profit Organisation' 'Company - Public (BAJAJFINS)'
 'Company - Public (UBS)' 'Company - Public (BK)' 'Company - Public (BUD)'
 'Company - Public (ERIC)' 'Company - Public (HPQ)'
 'Company - Public (GLE)' 'Company - Public (PHG)'
 'Company - Public (WMT)' 'Company - Public (G)' 'Company - Public (ORCL)'
 'Company - Public (HPE)' 'Company - Public (INTC)'
 'Company - Public (ABB)' 'Company - Public (NOK)'
 'Company - Public (FICO)' 'Company - Public (TGT)'
 'Company - Public (AMAT)' 'Company - Public (SUBEX)'
 'Company - Public (DELL)' 'Company - Public (SAP)'
 'Company - Public (ADBE)' 'Company - Public (MPHASIS)'
 'Company - Public (BHARTIARTL)' 'Company - Public (UNH)'
 'Company - Public (RYCEY)' 'Company - Public (VMW)'
 'Company - Public (AXP)' 'Company - Public (BKR)'
 'Company - Public (JNPR)' 'Company - Public (DATAMATICS GLOB)'
 'Company - Public (GE)' 'Company - Public (ULVR:LN)'
 'Company - Public (UIS)' 'Company - Public (SONATA)'
 'Company - Public (BA)' 'Company - Public (CAT)'
 'Company - Public (CERN)' 'Government' 'Company - Public (XOM)'
 'Company - Public (MAYBANK)' 'Company - Public (LIGHT)'
 'Company - Public (DANSKE)' 'Company - Public (SMSN)'
 'Company - Public (ANZBY)' 'Company - Public (DNB)'
 'Company - Public (JBT)' 'Company - Public (TRI)'
 'Company - Public (PEGA)' 'Company - Public (SNPS)'
 'Company - Public (D05)' 'Company - Public (532774)'
 'Company - Public (ASPS)' 'Company - Public (DB)'
 'Company - Public (SKFRY)' 'Company - Public (FISV)'
 'Company - Public (EXLS)' 'Company - Public (SNAP)'
 'Company - Public (ALLE)' 'Company - Public (S)' 'Company - Public (DXC)'
 'Company - Public (IQV)' 'Company - Public (GSK.L)'
 'Company - Public (ZBRA)' 'Company - Public (WFC)'
 'Company - Public (COF)' 'Company - Public ( XELPMOC)'
 'Company - Public (9613)' 'Company - Public (HAL)'
 'Company - Public (HSBC)' 'Company - Public (MRK)'
 'Company - Public (HCLINFO)' 'Company - Public (FSOL)'
 'Company - Public (PYPL)' 'Contract' 'Company - Public (LUMN)']

Industry ==> ['Consulting' 'Real Estate' 'Energy'
 'Cable, Internet & Telephone Providers' 'Accounting' 'IT Services'
 'Lending' 'Banks & Building Societies'
 'Transportation Equipment Manufacturing'
 'Healthcare Services & Hospitals' 'Transportation Management'
 'Insurance Operators' 'Enterprise Software & Network Solutions'
 'TV Broadcasting & Cable Networks' 'Internet'
 'Computer Hardware & Software' 'Shipping' 'Unknown / Non-Applicable'
 'Investment Banking & Asset Management' 'Bus & Coach Services'
 'Staffing & Outsourcing' 'Telecommunications Services'
 'Electrical & Electronic Manufacturing' 'Financial Analytics & Research'
 'Film Production & Distribution' 'Architectural & Engineering Services'
 'Brokerage Services' 'Food & Drink Manufacturing'
 'Education Training Services' 'Advertising & Marketing'
 'Consumer Products Manufacturing' 'Publishing' 'Colleges & Universities'
 'Financial Transaction Processing' 'Oil & Gas Services'
 'Industrial Manufacturing' 'Biotech & Pharmaceuticals' 'Social Services'
 'Government Agencies' 'Logistics & Supply Chain'
 'General Merchandise & Superstores' 'Aerospace & Defence'
 'Department, Clothing, & Shoe Shops' 'Research & Development']

Revenue ==> ['$100 to $500 million (USD)' 'Unknown / Non-Applicable'
 '$10+ billion (USD)' '$5 to $10 billion (USD)' '$1 to $2 billion (USD)'
 'Less than $1 million (USD)' '$2 to $5 billion (USD)'
 '$5 to $10 million (USD)' '$50 to $100 million (USD)'
 '$500 million to $1 billion (USD)' '$10 to $25 million (USD)'
 '$25 to $50 million (USD)' '$1 to $5 million (USD)']

Basic_Pay ==> ['₹ 15,96,545' '₹ 23,20,161' '₹ 9,65,374' '₹ 18,64,862' '₹ 8,00,000'
 '₹ 11,60,332' '₹ 46,864' '₹ 2,86,311' '₹ 10,84,136'
 '₹ 10,46,377 - ₹ 12,00,000' '₹ 12,31,994 - ₹ 15,00,000'
 '₹ 11,51,015 - ₹ 16,32,708' '₹ 10,42,192 - ₹ 25,33,956'
 '₹ 8,00,000 - ₹ 10,99,356' '₹ 1,05,000 - ₹ 10,21,306'
 '₹ 9,18,398 - ₹ 14,38,923' '₹ 6,00,000 - ₹ 9,69,480'
 '₹ 15,30,664 - ₹ 20,77,457' '₹ 9,12,747 - ₹ 11,13,452'
 '₹ 5,02,261 - ₹ 8,35,663' '₹ 10,90,305 - ₹ 15,94,493'
 '₹ 6,80,680 - ₹ 10,47,920' '₹ 8,86,572 - ₹ 11,34,373'
 '₹ 96,239 - ₹ 1,12,573' '₹ 44,269 - ₹ 61,374' '₹ 2,89,002 - ₹ 6,92,802'
 '₹ 16,74,782 - ₹ 19,08,888' '₹ 13,89,934 - ₹ 19,85,916'
 '₹ 14,32,680 - ₹ 19,34,079' '₹ 8,30,543 - ₹ 10,47,585'
 '₹ 13,100 - ₹ 1,17,954' '₹ 39,842 - ₹ 76,219' '₹ 3,65,445 - ₹ 5,42,608'
 '₹ 8,23,763 - ₹ 15,97,879' '₹ 5,78,098 - ₹ 8,50,110'
 '₹ 7,60,468 - ₹ 25,39,850' '₹ 12,07,179 - ₹ 17,18,819'
 '₹ 5,99,283 - ₹ 10,38,300' '₹ 18,11,479 - ₹ 20,03,931'
 '₹ 3,43,615 - ₹ 3,72,030' '₹ 7,18,583 - ₹ 7,77,772'
 '₹ 11,13,776 - ₹ 12,03,199' '₹ 9,73,240 - ₹ 10,45,881'
 '₹ 6,46,382 - ₹ 7,07,092' '₹ 5,72,847 - ₹ 6,26,300'
 '₹ 9,53,000 - ₹ 10,33,230' '₹ 1,47,499 - ₹ 1,59,646'
 '₹ 1,21,208 - ₹ 1,33,196' '₹ 9,11,727 - ₹ 9,84,662'
 '₹ 9,11,718 - ₹ 9,76,097' '₹ 5,77,026 - ₹ 6,31,773'
 '₹ 23,25,222 - ₹ 25,23,114' '₹ 19,14,992 - ₹ 20,68,204'
 '₹ 24,11,061 - ₹ 26,12,351' '₹ 5,70,528 - ₹ 6,25,344'
 '₹ 1,88,463 - ₹ 2,04,149' '₹ 55,914 - ₹ 60,085'
 '₹ 9,87,554 - ₹ 10,65,964' '₹ 11,68,790 - ₹ 12,62,099'
 '₹ 58,216 - ₹ 63,501' '₹ 3,50,316 - ₹ 3,77,102' '₹ 7,51,025 - ₹ 8,09,302'
 '₹ 99,404 - ₹ 1,08,074' '₹ 14,63,151 - ₹ 15,76,935'
 '₹ 3,50,634 - ₹ 3,80,759' '₹ 12,64,099 - ₹ 13,67,949'
 '₹ 11,71,092 - ₹ 12,79,561' '₹ 11,87,354 - ₹ 12,68,283'
 '₹ 11,77,178 - ₹ 12,58,369' '₹ 19,04,400 - ₹ 20,89,160' '₹ 6,97,330'
 '₹ 3,87,310 - ₹ 4,20,873' '₹ 12,35,975' '₹ 13,93,158'
 '₹ 13,94,435 - ₹ 15,25,092' '₹ 5,21,478 - ₹ 16,14,225'
 '₹ 11,81,703 - ₹ 12,79,440' '₹ 9,91,286 - ₹ 10,75,017'
 '₹ 1,43,834 - ₹ 1,55,286' '₹ 5,64,060 - ₹ 6,17,768'
 '₹ 5,74,294 - ₹ 6,22,535' '₹ 12,62,634 - ₹ 13,78,802'
 '₹ 2,43,832 - ₹ 2,63,433' '₹ 5,53,160 - ₹ 6,04,666'
 '₹ 22,63,241 - ₹ 24,43,128' '₹ 10,74,303 - ₹ 11,73,198'
 '₹ 19,56,495 - ₹ 21,23,764' '₹ 9,54,238 - ₹ 10,26,090'
 '₹ 4,57,686 - ₹ 4,95,154' '₹ 6,86,462 - ₹ 7,55,136'
 '₹ 6,28,290 - ₹ 6,81,415' '₹ 9,73,594 - ₹ 10,68,954'
 '₹ 8,62,417 - ₹ 9,36,343' '₹ 6,28,936 - ₹ 6,87,094'
 '₹ 3,32,802 - ₹ 3,59,552' '₹ 3,35,831 - ₹ 3,58,991'
 '₹ 11,03,241 - ₹ 11,93,280' '₹ 11,69,952 - ₹ 14,78,615'
 '₹ 5,75,040 - ₹ 6,28,794' '₹ 19,83,950 - ₹ 21,62,778'
 '₹ 12,11,842 - ₹ 13,04,032' '₹ 5,99,543 - ₹ 6,55,287'
 '₹ 5,83,039 - ₹ 6,28,191' '₹ 10,02,789 - ₹ 10,66,726'
 '₹ 19,18,371 - ₹ 20,65,142' '₹ 7,02,246 - ₹ 7,65,612'
 '₹ 81,142 - ₹ 87,798' '₹ 2,65,034 - ₹ 2,89,102'
 '₹ 42,12,520 - ₹ 45,84,982' '₹ 9,772 - ₹ 10,672'
 '₹ 4,35,145 - ₹ 4,71,095' '₹ 43,787 - ₹ 47,925'
 '₹ 13,60,846 - ₹ 14,84,850' '₹ 24,244 - ₹ 26,457'
 '₹ 15,56,748 - ₹ 17,15,058' '₹ 2,23,327 - ₹ 2,54,193'
 '₹ 3,26,706 - ₹ 7,41,396' '₹ 10,68,914 - ₹ 17,90,707'
 '₹ 2,17,403 - ₹ 6,13,090' '₹ 7,17,447 - ₹ 7,69,248'
 '₹ 1,90,751 - ₹ 2,07,329' '₹ 20,69,333' '₹ 21,48,849 - ₹ 30,00,000'
 '₹ 34,79,631 - ₹ 46,60,517' '₹ 24,71,678' '₹ 3,42,265 - ₹ 3,73,262'
 '₹ 3,29,609 - ₹ 6,50,000' '₹ 59,238 - ₹ 64,956' '₹ 3,95,769'
 '₹ 3,47,056 - ₹ 6,25,032' '₹ 2,47,987 - ₹ 2,70,287'
 '₹ 22,72,073 - ₹ 24,89,584' '₹ 1,24,313 - ₹ 1,34,667'
 '₹ 9,84,830 - ₹ 10,78,906' '₹ 3,16,368 - ₹ 3,41,074'
 '₹ 1,75,707 - ₹ 1,89,055' '₹ 1,15,526 - ₹ 1,25,548'
 '₹ 4,02,934 - ₹ 5,03,554' '₹ 10,57,045 - ₹ 11,50,198'
 '₹ 18,56,166 - ₹ 20,38,764' '₹ 26,71,573 - ₹ 29,05,278'
 '₹ 24,10,475 - ₹ 25,98,050' '₹ 19,28,580 - ₹ 20,99,149'
 '₹ 26,39,712 - ₹ 28,31,115' '₹ 18,29,026 - ₹ 32,36,836'
 '₹ 13,46,674 - ₹ 14,45,668' '₹ 55,989 - ₹ 60,324'
 '₹ 8,40,389 - ₹ 8,99,290' '₹ 1,15,593 - ₹ 1,26,399'
 '₹ 4,84,293 - ₹ 5,24,097' '₹ 15,142 - ₹ 16,466'
 '₹ 21,98,529 - ₹ 23,97,997' '₹ 11,44,848 - ₹ 12,55,680'
 '₹ 8,07,409 - ₹ 8,82,026' '₹ 6,00,000 - ₹ 9,70,240'
 '₹ 8,89,550 - ₹ 9,50,547' '₹ 17,60,855 - ₹ 19,17,247'
 '₹ 11,02,317 - ₹ 11,83,783' '₹ 6,35,064 - ₹ 6,90,111'
 '₹ 18,45,397 - ₹ 20,00,619' 'No salaries reported.'
 '₹ 25,50,702 - ₹ 27,71,574' '₹ 11,76,617' '₹ 11,22,487' '₹ 12,65,323'
 '₹ 6,68,962' '₹ 9,43,408' '₹ 6,12,265' '₹ 11,50,321' '₹ 7,83,602'
 '₹ 9,16,971' '₹ 5,00,000 - ₹ 10,68,914' '₹ 3,57,291 - ₹ 12,55,652'
 '₹ 4,82,868 - ₹ 18,16,814' '₹ 2,30,000 - ₹ 13,00,000'
 '₹ 3,34,482 - ₹ 15,69,565' '₹ 10,14,734 - ₹ 16,94,620'
 '₹ 1,47,829 - ₹ 20,00,000' '₹ 9,08,407 - ₹ 19,64,448'
 '₹ 20,00,000 - ₹ 31,17,666' '₹ 11,23,436 - ₹ 14,36,293'
 '₹ 9,50,000 - ₹ 15,08,961' '₹ 4,17,832 - ₹ 50,76,442'
 '₹ 48,673 - ₹ 71,234' '₹ 13,47,066 - ₹ 17,42,819'
 '₹ 8,33,225 - ₹ 17,79,985' '₹ 9,03,184 - ₹ 96,43,405'
 '₹ 34,345 - ₹ 1,01,553' '₹ 4,83,676 - ₹ 24,67,641'
 '₹ 9,86,136 - ₹ 15,14,928' '₹ 5,25,272 - ₹ 11,08,591'
 '₹ 14,899 - ₹ 43,894' '₹ 8,78,664 - ₹ 9,59,210'
 '₹ 8,41,910 - ₹ 10,88,071' '₹ 10,74,687 - ₹ 13,17,178'
 '₹ 8,19,364 - ₹ 29,51,381' '₹ 9,23,212 - ₹ 15,56,280'
 '₹ 40,379 - ₹ 65,603' '₹ 50,006 - ₹ 73,091' '₹ 2,67,733 - ₹ 2,86,473'
 '₹ 41,120 - ₹ 50,751' '₹ 16,54,778 - ₹ 19,47,982'
 '₹ 5,76,761 - ₹ 7,38,141' '₹ 1,09,261 - ₹ 1,17,001'
 '₹ 1,07,880 - ₹ 1,16,735' '₹ 6,07,999 - ₹ 6,47,891'
 '₹ 2,72,255 - ₹ 2,91,709' '₹ 13,34,746 - ₹ 14,53,732'
 '₹ 71,52,416 - ₹ 76,33,205' '₹ 15,50,210 - ₹ 16,93,431'
 '₹ 5,89,643 - ₹ 8,07,064' '₹ 7,48,240 - ₹ 17,00,000' '₹ 14,45,778'
 '₹ 7,35,883 - ₹ 8,02,757' '₹ 8,35,663' '₹ 5,72,322 - ₹ 6,21,768'
 '₹ 3,92,143 - ₹ 4,17,892' '₹ 4,39,221 - ₹ 4,76,567'
 '₹ 6,69,823 - ₹ 7,21,146' '₹ 11,69,917 - ₹ 12,62,455'
 '₹ 50,24,154 - ₹ 54,55,436' '₹ 9,77,519 - ₹ 10,58,251'
 '₹ 3,85,660 - ₹ 4,13,800' '₹ 14,03,891 - ₹ 15,42,103'
 '₹ 3,04,451 - ₹ 3,30,655' '₹ 94,606 - ₹ 1,02,399'
 '₹ 8,71,515 - ₹ 9,51,077' '₹ 1,44,577 - ₹ 1,57,502'
 '₹ 25,46,443 - ₹ 27,93,308' '₹ 5,77,674 - ₹ 6,19,722'
 '₹ 2,15,288 - ₹ 2,35,413' '₹ 3,43,608 - ₹ 3,71,948'
 '₹ 4,65,351 - ₹ 5,04,740' '₹ 13,56,133 - ₹ 14,78,648'
 '₹ 9,17,469 - ₹ 9,87,135' '₹ 64,457 - ₹ 68,803' '₹ 5,02,120 - ₹ 6,27,576'
 '₹ 1,21,666 - ₹ 1,31,766' '₹ 19,47,193 - ₹ 21,03,284'
 '₹ 97,559 - ₹ 1,05,180' '₹ 6,09,460 - ₹ 9,38,896' '₹ 24,371 - ₹ 26,202'
 '₹ 8,12,226 - ₹ 8,76,044' '₹ 5,22,273 - ₹ 5,67,327'
 '₹ 6,01,505 - ₹ 6,51,871' '₹ 3,33,123 - ₹ 3,61,288'
 '₹ 5,76,707 - ₹ 15,15,731' '₹ 4,32,692 - ₹ 9,69,591'
 '₹ 12,388 - ₹ 15,626' '₹ 28,45,182 - ₹ 31,46,880'
 '₹ 33,39,155 - ₹ 67,95,945' '₹ 1,93,139 - ₹ 2,70,003'
 '₹ 2,15,885 - ₹ 2,32,568' '₹ 4,12,609 - ₹ 4,43,683'
 '₹ 2,33,855 - ₹ 2,57,161' '₹ 1,15,492 - ₹ 2,12,878'
 '₹ 10,17,499 - ₹ 10,98,401' '₹ 13,87,728 - ₹ 15,00,048'
 '₹ 19,24,660 - ₹ 20,97,740' '₹ 1,00,350 - ₹ 1,09,772'
 '₹ 6,75,537 - ₹ 7,32,223' '₹ 48,442 - ₹ 52,653' '₹ 23,71,465'
 '₹ 9,74,778 - ₹ 10,63,606' '₹ 5,80,380 - ₹ 6,28,674'
 '₹ 12,81,737 - ₹ 13,96,669' '₹ 16,56,391 - ₹ 17,86,405'
 '₹ 11,96,297 - ₹ 13,14,354' '₹ 15,57,806 - ₹ 17,17,996'
 '₹ 23,06,880 - ₹ 25,08,552' '₹ 2,95,119 - ₹ 3,20,335'
 '₹ 17,30,682 - ₹ 18,60,210' '₹ 6,12,783' '₹ 11,06,571' '₹ 6,51,706'
 '₹ 8,58,294' '₹ 9,40,606' '₹ 9,75,149' '₹ 13,77,597' '₹ 16,04,779'
 '₹ 13,85,702' '₹ 15,59,783' '₹ 7,41,261' '₹ 11,94,178' '₹ 15,13,208'
 '₹ 14,08,364' '₹ 14,85,855' '₹ 17,18,752' '₹ 13,90,200' '₹ 13,73,954'
 '₹ 7,58,984' '₹ 9,18,398' '₹ 24,89,491' '₹ 18,79,854' '₹ 15,69,745'
 '₹ 25,09,441' '₹ 6,98,999' '₹ 7,11,737' '₹ 9,54,804' '₹ 10,99,358'
 '₹ 22,00,000' '₹ 13,26,575' '₹ 14,57,006' '₹ 16,27,874' '₹ 10,17,012'
 '₹ 14,16,621' '₹ 21,38,072' '₹ 22,80,586' '₹ 11,65,620' '₹ 13,57,904'
 '₹ 17,26,522' '₹ 13,50,000' '₹ 8,44,735' '₹ 11,54,143' '₹ 19,78,844'
 '₹ 18,50,043' '₹ 13,98,061' '₹ 30,40,747' '₹ 8,42,174' '₹ 8,74,584'
 '₹ 4,00,442' '₹ 21,93,951' '₹ 15,40,275' '₹ 7,14,628' '₹ 13,07,420'
 '₹ 16,16,955' '₹ 12,32,834' '₹ 7,12,895' '₹ 11,47,214' '₹ 15,59,044'
 '₹ 75,225' '₹ 20,37,358' '₹ 17,38,110' '₹ 28,21,785' '₹ 47,723'
 '₹ 14,76,701' '₹ 9,04,075' '₹ 21,71,233 - ₹ 25,57,525'
 '₹ 7,47,709 - ₹ 13,42,000' '₹ 6,20,352 - ₹ 12,82,697'
 '₹ 9,55,044 - ₹ 23,00,000' '₹ 11,29,746 - ₹ 1,31,92,295'
 '₹ 10,17,377 - ₹ 21,05,436' '₹ 11,35,212 - ₹ 15,00,000'
 '₹ 3,76,696 - ₹ 5,93,117' '₹ 9,19,175 - ₹ 13,19,230'
 '₹ 3,90,000 - ₹ 6,12,265' '₹ 13,15,387 - ₹ 13,56,855'
 '₹ 10,00,000 - ₹ 23,30,102' '₹ 5,00,000 - ₹ 9,23,314'
 '₹ 4,75,163 - ₹ 7,50,000' '₹ 15,20,373 - ₹ 19,40,481'
 '₹ 5,04,671 - ₹ 14,21,404' '₹ 2,59,006 - ₹ 14,15,725'
 '₹ 20,000 - ₹ 40,000' '₹ 15,20,373 - ₹ 20,00,164'
 '₹ 14,00,000 - ₹ 17,36,220' '₹ 15,14,012 - ₹ 15,72,704'
 '₹ 1,80,000 - ₹ 16,00,000' '₹ 4,21,087 - ₹ 5,06,791'
 '₹ 12,40,704 - ₹ 21,00,000' '₹ 13,19,230 - ₹ 21,18,275'
 '₹ 13,94,945 - ₹ 18,00,000' '₹ 10,85,616 - ₹ 26,64,088'
 '₹ 10,09,341 - ₹ 2,09,67,158' '₹ 14,28,619 - ₹ 21,78,038'
 '₹ 7,09,508 - ₹ 10,74,424' '₹ 84,235 - ₹ 1,34,682'
 '₹ 19,58,775 - ₹ 31,08,201' '₹ 12,61,012 - ₹ 15,72,075'
 '₹ 6,34,794 - ₹ 7,43,344' '₹ 15,98,349 - ₹ 20,48,220'
 '₹ 4,87,420 - ₹ 19,56,068' '₹ 54,902 - ₹ 70,219' '₹ 90,775 - ₹ 1,31,406'
 '₹ 9,54,022 - ₹ 11,68,388' '₹ 3,34,616 - ₹ 3,61,848'
 '₹ 10,52,128 - ₹ 20,72,582' '₹ 12,12,671 - ₹ 26,75,285'
 '₹ 2,99,586 - ₹ 8,09,633' '₹ 24,78,528 - ₹ 36,70,030'
 '₹ 7,74,392 - ₹ 9,39,072' '₹ 10,86,083 - ₹ 15,51,829'
 '₹ 1,91,788 - ₹ 4,93,868' '₹ 35,892 - ₹ 48,000'
 '₹ 13,94,357 - ₹ 15,77,431' '₹ 11,86,546 - ₹ 14,87,530'
 '₹ 9,42,030 - ₹ 16,77,461' '₹ 1,19,925 - ₹ 1,40,460'
 '₹ 11,64,606 - ₹ 22,03,047' '₹ 4,25,772 - ₹ 17,67,218'
 '₹ 3,95,697 - ₹ 8,54,210' '₹ 5,70,438 - ₹ 9,35,363'
 '₹ 3,40,380 - ₹ 23,04,558' '₹ 9,78,013 - ₹ 13,14,442'
 '₹ 7,81,961 - ₹ 12,64,780' '₹ 7,78,845 - ₹ 9,96,779'
 '₹ 8,11,350 - ₹ 10,53,821' '₹ 3,91,490 - ₹ 8,51,346'
 '₹ 19,81,670 - ₹ 24,71,494' '₹ 4,81,634 - ₹ 16,92,383'
 '₹ 8,58,581 - ₹ 15,48,581' '₹ 16,34,173 - ₹ 25,93,450'
 '₹ 6,62,738 - ₹ 21,25,700' '₹ 14,279 - ₹ 1,20,170'
 '₹ 9,31,774 - ₹ 10,24,480' '₹ 21,31,734 - ₹ 27,29,517'
 '₹ 10,29,907 - ₹ 11,03,384' '₹ 16,00,685 - ₹ 17,36,712'
 '₹ 3,78,038 - ₹ 4,08,464' '₹ 1,49,615 - ₹ 5,43,760'
 '₹ 8,25,024 - ₹ 8,80,544' '₹ 4,47,153 - ₹ 4,80,019'
 '₹ 8,67,799 - ₹ 9,48,740' '₹ 7,84,983 - ₹ 8,48,506'
 '₹ 1,99,172 - ₹ 2,17,298' '₹ 26,84,704 - ₹ 28,96,556'
 '₹ 3,85,584 - ₹ 4,39,949' '₹ 6,39,131 - ₹ 6,90,912'
 '₹ 5,01,712 - ₹ 5,47,668' '₹ 13,87,064 - ₹ 15,09,689'
 '₹ 7,66,824 - ₹ 8,38,328' '₹ 33,14,512 - ₹ 35,66,157'
 '₹ 7,75,584 - ₹ 8,33,680' '₹ 33,38,290 - ₹ 35,61,015'
 '₹ 11,48,440 - ₹ 14,88,380' '₹ 4,36,338 - ₹ 4,71,578'
 '₹ 2,14,693 - ₹ 2,32,755' '₹ 9,43,553 - ₹ 10,28,049'
 '₹ 3,06,333 - ₹ 3,31,229' '₹ 3,77,833 - ₹ 4,10,523'
 '₹ 3,90,326 - ₹ 4,19,318' '₹ 14,291 - ₹ 15,523' '₹ 8,08,849 - ₹ 8,70,108'
 '₹ 5,91,765 - ₹ 6,45,712' '₹ 9,54,160 - ₹ 10,33,600'
 '₹ 6,67,198 - ₹ 7,26,698' '₹ 4,62,413 - ₹ 5,02,306'
 '₹ 11,48,399 - ₹ 12,30,572' '₹ 13,587 - ₹ 1,12,873'
 '₹ 7,60,349 - ₹ 8,28,850' '₹ 13,62,042 - ₹ 14,75,052'
 '₹ 16,05,343 - ₹ 17,42,745' '₹ 6,96,216 - ₹ 7,52,672'
 '₹ 18,59,218 - ₹ 19,93,162' '₹ 22,93,013 - ₹ 25,16,312'
 '₹ 6,99,876 - ₹ 7,58,862' '₹ 10,07,108 - ₹ 10,86,383'
 '₹ 14,69,615 - ₹ 15,83,941' '₹ 14,23,443 - ₹ 15,14,873'
 '₹ 11,57,040 - ₹ 12,49,824' '₹ 1,14,962 - ₹ 1,25,818'
 '₹ 2,04,175 - ₹ 2,20,200' '₹ 97,425 - ₹ 1,06,922'

 '₹ 3,32,776 - ₹ 3,61,916' '₹ 7,91,799 - ₹ 8,51,412']

Additional_Pay ==> ['₹ 1,75,981' nan '₹ 54,968' '₹ 2,14,881' '₹ 2,09,275' '₹ 50,649'
 '₹ 1,50,000' '₹ 3,70,143' '₹ 1,10,991' '₹ 86,321' '₹ 1,02,131' '₹ 5,264'
 '₹ 2,11,184' '₹ 1,36,261' '₹ 2,23,500' '₹ 29,442' '₹ 2,01,195'
 '₹ 1,00,000' '₹ 1,24,070' '₹ 1,267' '₹ 50,680' '₹ 1,37,064' '₹ 1'
 '₹ 2,61,454' '₹ 4,08,522' '₹ 1,09,936' '₹ 25,000' '₹ 3,29,807' '₹ 52,957'
 '₹ 32,981' '₹ 2,46,078' '₹ 4,54,646' '₹ 1,66,472' '₹ 2,58,772' '₹ 2,453'
 '₹ 3,83,629' '₹ 2,02,716' '₹ 5,76,531' '₹ 52,636' '₹ 1,53,196'
 '₹ 1,08,562' '₹ 87,883' '₹ 1,16,988' '₹ 85,000' '₹ 2' '₹ 3,06,133'
 '₹ 20,409' '₹ 1,79,450' '₹ 78,360' '₹ 85,513' '₹ 1,09,690' '₹ 53,446'
 '₹ 1,24,963' '₹ 86,000' '₹ 2,11,827' '₹ 1,05,272' '₹ 1,50,679'
 '₹ 4,03,736' '₹ 1,76,903' '₹ 2,00,000' '₹ 74,951' '₹ 10,527' '₹ 6,07,887'
 '₹ 1,23,669' '₹ 2,10,136' '₹ 1,73,121' '₹ 21,285' '₹ 6,00,000' '₹ 3'
 '₹ 1,28,191' '₹ 47,661' '₹ 90,653' '₹ 89,103' '₹ 1,20,624' '₹ 3,36,066'
 '₹ 2,50,000' '₹ 1,49,648' '₹ 1,56,957' '₹ 37,070' '₹ 1,05,592'
 '₹ 1,29,144' '₹ 1,26,015' '₹ 15,07,169' '₹ 1,68,850' '₹ 10' '₹ 2,48,949'
 '₹ 1,37,311' '₹ 1,53,510' '₹ 4,40,175' '₹ 50,679' '₹ 98,060' '₹ 1,21,894'
 '₹ 5,12,136' '₹ 1,64,904' '₹ 1,37,420' '₹ 1,25,565' '₹ 15,000'
 '₹ 1,13,159' '₹ 1,75,092' '₹ 1,15,000' '₹ 1,08,902' '₹ 1,01,358'
 '₹ 1,38,818' '₹ 4,39,743' '₹ 1,16,866' '₹ 10,46,377' '₹ 5,958'
 '₹ 3,06,392' '₹ 26,620' '₹ 7,23,744' '₹ 1,82,752' '₹ 1,40,448' '₹ 8,027'
 '₹ 2,05,560' '₹ 2,506' '₹ 2,99,976' '₹ 57,516' '₹ 64,135' '₹ 1,41,218'
 '₹ 1,20,207' '₹ 19' '₹ 52,319' '₹ 69,511' '₹ 1,06,592' '₹ 1,96,945'
 '₹ 71,431' '₹ 60,917' '₹ 2,10,544' '₹ 1,74,745' '₹ 1,12,035' '₹ 1,02,044'
 '₹ 51,022' '₹ 9' '₹ 1,51,661' '₹ 9,586' '₹ 2,25,058' '₹ 3,81,582'
 '₹ 5,170' '₹ 71,628' '₹ 90,000' '₹ 73,690' '₹ 20,000' '₹ 2,30,829'
 '₹ 1,65,312' '₹ 20,272' '₹ 3,00,000' '₹ 2,13,127' '₹ 2,86,513'
 '₹ 7,69,551' '₹ 8,333' '₹ 1,11,345' '₹ 2,42,089' '₹ 2,49,926' '₹ 14,071'
 '₹ 19,236' '₹ 4,360' '₹ 1,22,557' '₹ 2,04,261' '₹ 65,961' '₹ 1,01,529'
 '₹ 1,96,023' '₹ 1,94,000' '₹ 4,07,146' '₹ 1,11,663' '₹ 5,44,699'
 '₹ 2,38,761' '₹ 5,96,902' '₹ 3,30,000' '₹ 61,764' '₹ 8,50,000'
 '₹ 3,01,358' '₹ 1,11,623' '₹ 15,79,077' '₹ 2,41,777' '₹ 2,04,088'
 '₹ 2,05,967' '₹ 4,69,379' '₹ 64,813' '₹ 2,03,062' '₹ 30,052' '₹ 5,00,000'
 '₹ 4,11,827' '₹ 1,89,936' '₹ 1,23,343' '₹ 28,244' '₹ 60,560' '₹ 4,00,000'
 '₹ 2,67,475' '₹ 21,183' '₹ 1,53,066' '₹ 11,149' '₹ 3,31,908' '₹ 4,18,551'
 '₹ 70,951']

Avg_Pay ==> ['₹ 16,75,000' '₹ 23,20,161' '₹ 10,17,694' '₹ 19,22,877' '₹ 8,00,000'
 '₹ 12,00,706' '₹ 46,864' '₹ 2,86,311' '₹ 10,84,136' nan '₹ 6,97,330'
 '₹ 12,86,655' '₹ 13,93,158' '₹ 20,69,333' '₹ 24,71,678' '₹ 3,95,769'
 'No salaries reported.' '₹ 11,76,617' '₹ 11,22,487' '₹ 12,65,324'
 '₹ 6,68,962' '₹ 9,43,408' '₹ 6,32,674' '₹ 12,55,652' '₹ 8,13,417'
 '₹ 9,16,971' '₹ 14,45,778' '₹ 8,35,663' '₹ 25,71,465' '₹ 6,77,848'
 '₹ 11,06,571' '₹ 7,23,141' '₹ 8,67,282' '₹ 10,25,449' '₹ 9,75,149'
 '₹ 13,77,597' '₹ 17,52,025' '₹ 14,92,500' '₹ 16,60,942' '₹ 7,49,778'
 '₹ 11,94,178' '₹ 17,02,702' '₹ 18,09,359' '₹ 15,00,000' '₹ 18,49,059'
 '₹ 13,90,200' '₹ 13,73,954' '₹ 7,58,984' '₹ 9,18,398' '₹ 26,53,150'
 '₹ 18,79,854' '₹ 16,72,823' '₹ 29,50,585' '₹ 6,98,999' '₹ 7,31,644'
 '₹ 10,15,364' '₹ 10,99,358' '₹ 22,00,000' '₹ 14,70,941' '₹ 14,57,006'
 '₹ 16,27,874' '₹ 11,19,142' '₹ 14,16,621' '₹ 22,01,235' '₹ 24,81,408'
 '₹ 14,00,000' '₹ 13,57,904' '₹ 17,26,522' '₹ 15,75,000' '₹ 8,44,735'
 '₹ 11,54,143' '₹ 23,08,652' '₹ 18,50,043' '₹ 13,98,061' '₹ 30,40,747'
 '₹ 8,42,174' '₹ 8,74,584' '₹ 4,00,442' '₹ 21,93,951' '₹ 15,53,585'
 '₹ 7,14,628' '₹ 14,12,667' '₹ 17,08,331' '₹ 12,97,834' '₹ 7,12,895'
 '₹ 11,47,214' '₹ 15,69,249' '₹ 79,763' '₹ 20,37,358' '₹ 18,27,052'
 '₹ 28,21,785' '₹ 47,723' '₹ 14,76,701' '₹ 9,04,075' '₹ 50,000' '₹ 63,249'
 '₹ 8,43,500' '₹ 6,39,254' '₹ 7,68,115' '₹ 11,64,562' '₹ 22,55,035'
 '₹ 16,55,281' '₹ 13,00,000' '₹ 8,20,208' '₹ 24,17,582' '₹ 13,11,865'
 '₹ 31,39,130' '₹ 17,91,129' '₹ 13,78,435' '₹ 35,98,041' '₹ 17,79,149'
 '₹ 8,24,756' '₹ 5,50,359' '₹ 2,54,134' '₹ 41,75,000' '₹ 18,96,482'
 '₹ 15,27,710' '₹ 29,88,948' '₹ 31,15,800' '₹ 11,63,287' '₹ 19,61,009'
 '₹ 18,69,417' '₹ 19,19,175' '₹ 9,92,488']

Avg_Pay_Num ==> ['₹15,96,545' nan '₹9,65,374' '₹18,64,862' '₹8,00,000' '₹11,60,332'
 '₹46,864' '₹2,86,311' '₹10,84,136' '₹10,99,358' '₹12,97,507' '₹14,11,381'
 '₹25,33,956' '₹8,52,508' '₹9,95,724' '₹13,80,385' '₹8,40,000'
 '₹15,39,101' '₹10,78,873' '₹10,90,305-₹15,94,493' '₹6,80,680-₹10,47,920'
 '₹8,86,572-₹11,34,373' '₹96,239-₹1,12,573' '₹44,269-₹61,374'
 '₹2,89,002-₹6,92,802' '₹16,74,782-₹19,08,888' '₹13,89,934-₹19,85,916'
 '₹14,32,680-₹19,34,079' '₹8,30,543-₹10,47,585' '₹13,100-₹1,17,954'
 '₹39,842-₹76,219' '₹3,65,445-₹5,42,608' '₹8,23,763-₹15,97,879'
 '₹5,78,098-₹8,50,110' '₹7,60,468-₹25,39,850' '₹12,07,179-₹17,18,819'
 '₹5,99,283-₹10,38,300' '₹18,11,479-₹20,03,931' '₹3,43,615-₹3,72,030'
 '₹7,18,583-₹7,77,772' '₹11,13,776-₹12,03,199' '₹9,73,240-₹10,45,881'
 '₹6,46,382-₹7,07,092' '₹5,72,847-₹6,26,300' '₹9,53,000-₹10,33,230'
 '₹1,47,499-₹1,59,646' '₹1,21,208-₹1,33,196' '₹5,77,026-₹6,31,773'
 '₹23,25,222-₹25,23,114' '₹19,14,992-₹20,68,204' '₹24,11,061-₹26,12,351'
 '₹5,70,528-₹6,25,344' '₹1,88,463-₹2,04,149' '₹55,914-₹60,085'
 '₹9,87,554-₹10,65,964' '₹11,68,790-₹12,62,099' '₹58,216-₹63,501'
 '₹3,50,316-₹3,77,102' '₹7,51,025-₹8,09,302' '₹99,404-₹1,08,074'
 '₹14,63,151-₹15,76,935' '₹3,50,634-₹3,80,759' '₹12,64,099-₹13,67,949'
 '₹11,77,178-₹12,58,369' '₹19,04,400-₹20,89,160' '₹6,97,330'
 '₹3,87,310-₹4,20,873' '₹12,35,975' '₹13,93,158' '₹13,94,435-₹15,25,092'
 '₹5,21,478-₹16,14,225' '₹11,81,703-₹12,79,440' '₹9,91,286-₹10,75,017'
 '₹1,43,834-₹1,55,286' '₹5,64,060-₹6,17,768' '₹5,74,294-₹6,22,535'
 '₹12,62,634-₹13,78,802' '₹2,43,832-₹2,63,433' '₹5,53,160-₹6,04,666'
 '₹22,63,241-₹24,43,128' '₹10,74,303-₹11,73,198' '₹19,56,495-₹21,23,764'
 '₹9,54,238-₹10,26,090' '₹4,57,686-₹4,95,154' '₹6,86,462-₹7,55,136'
 '₹6,28,290-₹6,81,414' '₹9,73,594-₹10,68,954' '₹8,62,417-₹9,36,343'
 '₹6,28,936-₹6,87,094' '₹3,32,802-₹3,59,552' '₹3,35,831-₹3,58,991'
 '₹11,03,241-₹11,93,280' '₹11,69,952-₹14,78,615' '₹5,75,040-₹6,28,794'
 '₹19,83,950-₹21,62,778' '₹12,11,842-₹13,04,032' '₹5,99,542-₹6,55,287'
 '₹5,83,039-₹6,28,191' '₹10,02,789-₹10,66,726' '₹19,18,371-₹20,65,142'
 '₹7,02,246-₹7,65,612' '₹81,142-₹87,798' '₹2,65,034-₹2,89,102'
 '₹42,12,520-₹45,84,982' '₹9,772-₹10,672' '₹4,35,145-₹4,71,095'
 '₹43,787-₹47,925' '₹13,60,846-₹14,84,850' '₹24,244-₹26,456'
 '₹15,56,748-₹17,15,058' '₹2,25,745' '₹4,03,950' '₹2,17,403-₹6,13,090'
 '₹7,17,447-₹7,69,248' '₹1,90,751-₹2,07,329' '₹20,69,333' '₹30,00,000'
 '₹34,79,631-₹46,60,517' '₹24,71,678' '₹3,42,265-₹3,73,262'
 '₹59,238-₹64,956' '₹3,95,769' '₹3,47,056-₹6,25,032' '₹2,47,987-₹2,70,287'
 '₹22,72,073-₹24,89,584' '₹1,24,313-₹1,34,667' '₹9,84,830-₹10,78,906'
 '₹3,16,368-₹3,41,074' '₹1,75,707-₹1,89,055' '₹1,15,526-₹1,25,548'
 '₹4,02,934-₹5,03,554' '₹10,57,045-₹11,50,198' '₹18,56,166-₹20,38,764'
 '₹26,71,573-₹29,05,278' '₹24,10,475-₹25,98,050' '₹19,28,580-₹20,99,149'
 '₹18,29,026-₹32,36,836' '₹13,46,674-₹14,45,668' '₹55,989-₹60,324'
 '₹8,40,389-₹8,99,290' '₹1,15,593-₹1,26,399' '₹4,84,292-₹5,24,097'
 '₹15,142-₹16,466' '₹21,98,529-₹23,97,997' '₹11,44,848-₹12,55,680'
 '₹8,07,409-₹8,82,026' '₹7,80,757' '₹8,89,550-₹9,50,547'
 '₹17,60,855-₹19,17,247' '₹11,02,317-₹11,83,783' '₹6,35,064-₹6,90,111'
 '₹18,45,397-₹20,00,619' '₹25,50,702-₹27,71,574' '₹11,76,617' '₹11,22,487'
 '₹12,65,323' '₹6,68,962' '₹9,43,408' '₹6,12,265' '₹11,50,321' '₹7,83,602'
 '₹9,16,971' '₹7,24,301' '₹10,38,728' '₹7,75,536' '₹4,13,867' '₹12,00,000'
 '₹13,89,588' '₹9,34,725' '₹25,66,740' '₹12,53,495' '₹11,50,000'
 '₹8,37,101' '₹48,673-₹71,234' '₹13,47,066-₹17,42,819'
 '₹8,33,225-₹17,79,985' '₹9,03,184-₹96,43,405' '₹34,345-₹1,01,553'
 '₹4,83,676-₹24,67,641' '₹9,86,136-₹15,14,928' '₹5,25,272-₹11,08,591'
 '₹14,899-₹43,894' '₹8,78,664-₹9,59,210' '₹8,41,910-₹10,88,071'
 '₹10,74,687-₹13,17,178' '₹8,19,364-₹29,51,381' '₹9,23,212-₹15,56,280'
 '₹40,379-₹65,603' '₹50,006-₹73,091' '₹2,67,733-₹2,86,473'
 '₹41,120-₹50,751' '₹16,54,778-₹19,47,982' '₹5,76,761-₹7,38,141'
 '₹1,09,261-₹1,17,001' '₹1,07,880-₹1,16,735' '₹6,07,999-₹6,47,891'
 '₹2,72,255-₹2,91,709' '₹13,34,746-₹14,53,732' '₹71,52,416-₹76,33,205'
 '₹15,50,210-₹16,93,431' '₹5,89,643-₹8,07,064' '₹8,79,486' '₹14,45,778'
 '₹7,35,883-₹8,02,757' '₹8,35,663' '₹5,72,322-₹6,21,768'
 '₹3,92,143-₹4,17,892' '₹4,39,221-₹4,76,567' '₹6,69,823-₹7,21,146'
 '₹11,69,917-₹12,62,455' '₹50,24,154-₹54,55,436' '₹9,77,519-₹10,58,251'
 '₹3,85,660-₹4,13,800' '₹14,03,891-₹15,42,103' '₹3,04,451-₹3,30,655'
 '₹94,606-₹1,02,399' '₹8,71,515-₹9,51,077' '₹1,44,577-₹1,57,502'
 '₹25,46,443-₹27,93,308' '₹5,77,674-₹6,19,722' '₹2,15,288-₹2,35,413'
 '₹3,43,608-₹3,71,948' '₹4,65,351-₹5,04,740' '₹13,56,133-₹14,78,648'
 '₹9,17,469-₹9,87,135' '₹64,457-₹68,803' '₹5,02,120-₹6,27,576'
 '₹1,21,666-₹1,31,766' '₹19,47,193-₹21,03,284' '₹97,559-₹1,05,180'
 '₹6,09,460-₹9,38,896' '₹24,371-₹26,202' '₹8,12,226-₹8,76,044'
 '₹6,01,505-₹6,51,871' '₹3,33,123-₹3,61,288' '₹5,76,707-₹15,15,731'
 '₹4,32,692-₹9,69,591' '₹12,388-₹15,626' '₹28,45,182-₹31,46,880'
 '₹33,39,155-₹67,95,945' '₹1,93,139-₹2,70,003' '₹2,15,885-₹2,32,568'
 '₹4,12,609-₹4,43,683' '₹2,33,855-₹2,57,161' '₹1,15,492-₹2,12,878'
 '₹10,17,499-₹10,98,401' '₹13,87,728-₹15,00,048' '₹19,24,660-₹20,97,740'
 '₹1,00,350-₹1,09,772' '₹6,75,537-₹7,32,223' '₹48,442-₹52,653'
 '₹23,71,464' '₹9,74,778-₹10,63,606' '₹12,81,737-₹13,96,669'
 '₹16,56,391-₹17,86,405' '₹11,96,297-₹13,14,354' '₹15,57,806-₹17,17,996'
 '₹23,06,880-₹25,08,552' '₹2,95,119-₹3,20,335' '₹17,30,682-₹18,60,210'
 '₹6,12,783' '₹11,06,571' '₹6,51,706' '₹8,58,294' '₹9,40,606' '₹9,75,149'
 '₹13,77,597' '₹16,04,779' '₹13,85,702' '₹15,59,783' '₹7,41,261'
 '₹11,94,178' '₹15,13,208' '₹14,08,364' '₹17,18,752' '₹13,90,200'
 '₹13,73,954' '₹7,58,984' '₹9,18,398' '₹24,89,491' '₹15,69,745'
 '₹25,09,441' '₹6,98,999' '₹7,11,737' '₹9,54,804' '₹22,00,000'
 '₹13,26,575' '₹14,57,006' '₹10,17,012' '₹14,16,621' '₹21,38,072'
 '₹22,80,586' '₹11,65,620' '₹13,57,904' '₹17,26,522' '₹13,50,000'
 '₹8,44,735' '₹11,54,142' '₹19,78,844' '₹18,50,043' '₹13,98,061'
 '₹30,40,747' '₹8,42,174' '₹8,74,584' '₹4,00,442' '₹21,93,951'
 '₹15,40,275' '₹7,14,628' '₹16,16,955' '₹12,32,834' '₹7,12,895'
 '₹11,47,214' '₹15,59,044' '₹75,225' '₹20,37,358' '₹17,38,110'
 '₹28,21,785' '₹47,723' '₹14,76,701' '₹9,04,075' '₹22,99,841' '₹8,59,539'
 '₹8,06,457' '₹18,83,478' '₹16,94,620' '₹12,26,107' '₹11,53,717'
 '₹5,50,000' '₹4,05,433' '₹17,34,752' '₹6,63,288' '₹5,16,960' '₹17,89,620'
 '₹10,46,377' '₹11,45,245' '₹33,333' '₹15,79,077' '₹14,00,000'
 '₹15,69,565' '₹4,59,199' '₹20,00,000' '₹18,17,154' '₹15,30,664'
 '₹12,16,299' '₹16,00,000' '₹84,235-₹1,34,682' '₹19,58,775-₹31,08,201'
 '₹12,61,012-₹15,72,075' '₹6,34,794-₹7,43,344' '₹15,98,349-₹20,48,220'
 '₹4,87,420-₹19,56,068' '₹54,902-₹70,219' '₹90,775-₹1,31,406'
 '₹9,54,022-₹11,68,388' '₹3,34,616-₹3,61,848' '₹10,52,128-₹20,72,582'
 '₹12,12,671-₹26,75,285' '₹2,99,586-₹8,09,633' '₹24,78,528-₹36,70,030'
 '₹7,74,392-₹9,39,072' '₹10,86,083-₹15,51,829' '₹1,91,788-₹4,93,868'
 '₹35,892-₹48,000' '₹13,94,357-₹15,77,431' '₹11,86,546-₹14,87,530'
 '₹9,42,030-₹16,77,461' '₹1,19,925-₹1,40,460' '₹11,64,606-₹22,03,047'
 '₹4,25,772-₹17,67,218' '₹3,95,697-₹8,54,210' '₹5,70,438-₹9,35,363'
 '₹3,40,380-₹23,04,558' '₹7,81,961-₹12,64,780' '₹7,78,845-₹9,96,779'
 '₹8,11,350-₹10,53,821' '₹3,91,490-₹8,51,346' '₹19,81,670-₹24,71,494'
 '₹4,81,634-₹16,92,383' '₹8,58,581-₹15,48,581' '₹16,34,173-₹25,93,450'
 '₹6,62,738-₹21,25,700' '₹14,279-₹1,20,170' '₹9,31,774-₹10,24,480'
 '₹21,31,734-₹27,29,517' '₹10,29,907-₹11,03,384' '₹16,00,685-₹17,36,712'
 '₹3,78,038-₹4,08,464' '₹1,49,615-₹5,43,760' '₹8,25,024-₹8,80,544'
 '₹4,47,153-₹4,80,019' '₹8,67,799-₹9,48,740' '₹7,84,983-₹8,48,506'
 '₹1,99,172-₹2,17,298' '₹26,84,704-₹28,96,556' '₹3,85,584-₹4,39,949'
 '₹6,39,131-₹6,90,912' '₹5,01,712-₹5,47,668' '₹13,87,064-₹15,09,689'
 '₹7,66,824-₹8,38,328' '₹33,14,512-₹35,66,157' '₹7,75,584-₹8,33,680'
 '₹33,38,290-₹35,61,015' '₹11,48,440-₹14,88,380' '₹4,36,338-₹4,71,578'
 '₹2,14,693-₹2,32,755' '₹9,43,553-₹10,28,049' '₹3,06,333-₹3,31,229'
 '₹3,77,833-₹4,10,523' '₹3,90,326-₹4,19,318' '₹14,291-₹15,523'
 '₹8,08,849-₹8,70,108' '₹5,91,765-₹6,45,712' '₹9,54,160-₹10,33,600'
 '₹6,67,198-₹7,26,698' '₹4,62,413-₹5,02,306' '₹11,48,399-₹12,30,572'
 '₹40,543' '₹7,60,349-₹8,28,850' '₹13,62,042-₹14,75,052'
 '₹16,05,343-₹17,42,745' '₹6,96,216-₹7,52,672' '₹18,59,218-₹19,93,162'
 '₹22,93,013-₹25,16,312' '₹6,99,876-₹7,58,862' '₹10,07,108-₹10,86,382'
 '₹14,69,615-₹15,83,941' '₹14,23,443-₹15,14,873' '₹11,57,040-₹12,49,824'
 '₹1,14,962-₹1,25,818' '₹2,04,175-₹2,20,200' '₹97,425-₹1,06,922'
 '₹6,17,631-₹6,66,895' '₹6,30,585-₹6,83,183' '₹1,77,989-₹1,91,824'
 '₹16,48,607-₹17,63,058' '₹3,95,604-₹4,24,613' '₹19,259-₹21,071'
 '₹30,57,617-₹33,47,161' '₹18,58,243-₹20,09,628' '₹20,17,770-₹21,64,033'
 '₹1,95,660-₹2,11,121' '₹3,15,197-₹3,45,704' '₹14,44,948-₹15,77,142'
 '₹11,61,096-₹12,55,476' '₹6,82,891-₹7,47,939' '₹50,000'
 '₹12,70,494-₹13,62,180' '₹11,19,278-₹12,17,209' '₹7,95,036-₹8,62,920'
 '₹13,330-₹23,709' '₹3,60,277-₹3,90,131' '₹27,54,652-₹29,99,219'
 '₹4,71,453-₹5,04,917' '₹2,55,912-₹2,74,160' '₹3,40,863-₹3,67,030'
 '₹3,54,989-₹3,85,499' '₹14,64,041-₹15,90,307' '₹3,44,618-₹3,75,479'
 '₹2,89,330-₹3,12,748' '₹12,466-₹45,198' '₹4,89,978-₹13,18,033'
 '₹15,86,588-₹17,09,969' '₹38,388-₹41,855' '₹18,84,374-₹20,63,974'
 '₹12,43,100-₹13,36,006' '₹18,08,164-₹19,37,723' '₹18,68,908'
 '₹43,566-₹47,607' '₹13,76,358-₹14,92,765' '₹3,62,721-₹3,94,650'
 '₹9,28,371-₹55,22,664' '₹15,79,931-₹17,33,555' '₹15,40,576-₹16,76,912'
 '₹9,81,088-₹10,62,079' '₹15,43,514-₹16,67,986' '₹77,311-₹83,963'
 '₹39,840-₹43,271' '₹9,52,660-₹10,46,740' '₹9,64,394-₹10,33,364'
 '₹14,32,580-₹15,66,086' '₹9,01,865-₹9,77,783' '₹6,32,790-₹6,81,221'
 '₹3,34,621-₹3,61,544' '₹7,75,658-₹8,48,084' '₹18,78,951-₹20,43,210'
 '₹44,509-₹48,055' '₹2,02,267-₹2,17,088' '₹15,28,973-₹16,28,470' '₹63,249'
 '₹1,14,451-₹1,23,932' '₹1,63,247-₹2,06,742' '₹45,833'
 '₹1,52,231-₹1,62,658' '₹1,96,211-₹2,13,413' '₹11,57,355-₹12,53,143'
 '₹1,16,371-₹1,24,691' '₹50,93,260-₹54,42,342' '₹12,59,957-₹13,68,677'
 '₹7,81,019' '₹12,61,289-₹13,62,263' '₹20,21,600-₹21,57,985'
 '₹34,525-₹37,360' '₹8,71,380-₹9,40,617' '₹8,32,995-₹9,09,866'
 '₹9,60,856-₹10,41,998' '₹6,13,000' '₹6,94,225' '₹1,91,526-₹2,07,498'
 '₹41,79,715-₹45,91,667' '₹11,97,369-₹13,14,943' '₹8,48,291-₹10,47,720'
 '₹10,67,888' '₹21,42,705' '₹14,13,240' '₹12,06,899' '₹8,20,208'
 '₹13,11,865' '₹31,39,130' '₹17,78,458' '₹13,78,435' '₹33,00,000'
 '₹17,79,149' '₹7,55,211' '₹5,50,359' '₹2,54,134' '₹35,00,000'
 '₹15,83,296' '₹14,91,087' '₹24,23,357' '₹29,42,678' '₹11,63,287'
 '₹16,87,500' '₹16,34,749' '₹32,689-₹41,605' '₹19,19,175' '₹3,29,807'
 '₹2,86,513' '₹9,13,759' '₹1,48,003' '₹2,76,994' '₹29,29,855' '₹8,65,820'
 '₹10,00,000' '₹31,42,105' '₹7,19,461' '₹8,62,109-₹15,61,233' '₹9,92,488'
 '₹3,07,636-₹8,30,418' '₹6,02,864-₹6,73,321' '₹3,18,739-₹3,61,114'
 '₹1,90,804-₹2,63,644' '₹6,15,650-₹7,76,358' '₹3,79,661-₹4,28,473'
 '₹1,74,325-₹1,96,914' '₹3,51,626-₹3,86,052' '₹1,90,814-₹2,07,290'
 '₹1,15,334-₹4,99,786' '₹9,64,965-₹21,19,161' '₹28,95,870-₹41,76,760'
 '₹28,00,000' '₹24,08,700-₹26,52,672' '₹18,43,211-₹20,01,257'
 '₹21,03,706-₹25,23,361' '₹5,99,937-₹9,10,603' '₹6,28,666-₹7,36,152'
 '₹15,95,663-₹26,35,422' '₹9,25,908-₹10,05,583' '₹61,148-₹2,07,521'
 '₹11,61,598-₹12,50,695' '₹2,52,310-₹2,71,009' '₹9,63,230-₹10,34,620'
 '₹10,15,480-₹11,11,374' '₹2,40,414-₹2,61,424' '₹2,89,011-₹3,09,645'
 '₹4,83,449-₹5,22,743' '₹1,30,239-₹1,42,092' '₹14,26,860-₹15,71,670'
 '₹3,68,738-₹4,01,488' '₹1,97,482-₹2,12,397' '₹11,55,215-₹12,65,484'
 '₹3,49,980-₹3,75,430' '₹3,01,846-₹3,29,414' '₹1,44,195-₹1,53,488'
 '₹6,07,999-₹6,54,383' '₹4,34,164-₹4,72,557' '₹8,22,957-₹8,92,864'
 '₹1,26,046-₹1,37,853' '₹3,55,057-₹4,53,684' '₹8,85,391-₹9,61,260'
 '₹3,82,348-₹4,08,711' '₹2,40,711-₹2,60,899' '₹2,16,866-₹2,36,328'
 '₹1,74,337-₹1,87,268' '₹3,01,432-₹3,25,766' '₹1,17,104-₹2,07,017'
 '₹2,52,229-₹2,72,004' '₹97,235-₹6,82,451' '₹2,34,260-₹4,49,039'
 '₹6,82,459-₹7,40,268' '₹1,82,193-₹1,98,343' '₹1,48,782-₹1,61,854'
 '₹29,940-₹32,403' '₹5,06,096-₹5,41,029' '₹9,63,390-₹10,53,163'
 '₹10,01,091-₹10,89,753' '₹42,23,426-₹45,40,480' '₹51,93,928-₹56,03,068'
 '₹28,96,217-₹31,54,836' '₹16,30,389-₹17,59,498' '₹16,24,622-₹17,69,241'
 '₹19,09,300-₹20,97,180' '₹25,01,954-₹33,51,328' '₹20,22,461-₹21,99,254'
 '₹33,72,999-₹36,73,901' '₹25,78,035-₹27,60,373' '₹18,89,884-₹20,64,588'
 '₹7,18,036-₹7,80,755' '₹12,09,683-₹13,04,208' '₹20,22,040-₹21,74,115'
 '₹8,21,280-₹8,99,858' '₹10,25,510-₹10,95,159' '₹19,51,882-₹21,42,174'
 '₹11,53,392-₹12,59,808' '₹16,95,172-₹18,11,635' '₹18,33,388-₹32,40,701'
 '₹37,37,370-₹40,71,990' '₹23,33,505-₹25,32,109' '₹12,71,341-₹13,64,215'
 '₹12,77,132-₹13,95,143' '₹40,089-₹43,767' '₹11,73,333-₹12,73,573'
 '₹19,66,229-₹20,99,423' '₹8,56,487-₹9,37,934' '₹67,464-₹72,529'
 '₹6,86,349-₹7,39,612' '₹1,16,690-₹1,27,020' '₹8,37,862-₹9,10,873'
 '₹2,13,326-₹2,35,251' '₹4,86,884-₹5,27,311' '₹8,58,988-₹9,30,775'
 '₹3,81,836-₹4,15,432' '₹3,53,809-₹5,99,604' '₹13,60,017-₹14,73,572'
 '₹9,59,680-₹10,49,880' '₹21,03,853-₹22,85,385' '₹19,15,220-₹20,60,000'
 '₹14,38,020-₹15,73,320' '₹33,36,657-₹36,67,821' '₹14,53,935-₹15,58,575'
 '₹15,42,379-₹16,64,331' '₹30,67,712-₹33,11,808' '₹28,90,620-₹31,21,170'
 '₹15,97,692-₹17,39,597' '₹9,95,596-₹10,88,525' '₹9,85,940-₹10,69,387'
 '₹9,65,450-₹10,44,700' '₹9,69,650-₹10,46,200' '₹3,97,987-₹4,35,615'
 '₹1,49,634-₹1,62,461' '₹12,07,209-₹13,03,455' '₹6,21,100-₹6,82,103'
 '₹3,01,193-₹3,24,335' '₹5,79,948-₹6,24,792' '₹27,47,003-₹30,11,533'
 '₹31,98,621-₹35,20,387' '₹7,95,531-₹8,61,504' '₹3,32,776-₹3,61,916'
 '₹7,91,799-₹8,51,412']

Max_Pay ==> ['₹2,007K' '₹2,454K' '₹1,568K' '₹2,585K' '₹1,300K' '₹1,509K' '₹70K'
 '₹1,831K' '₹1,400K' nan '₹1,331K' '₹2,664K' '₹3,102K' '₹2,254K' '₹3,350K'
 '₹879K' '₹6,020K' '₹9,532K' '₹5,000K' '₹1,570K' '₹1,308K' '₹1,319K'
 '₹3,064K' '₹912K' '₹1,510K' '₹2,511K' '₹2,000K' '₹3,200K' '₹4,727K'
 '₹3,762K' '₹900K' '₹3,000K' '₹3,244K' '₹1,737K' '₹1,852K' '₹1,900K'
 '₹1,937K' '₹1,464K' '₹3,508K' '₹2,194K' '₹4,400K' '₹1,824K' '₹1,913K'
 '₹7,107K' '₹4,397K' '₹2,748K' '₹2,653K' '₹2,257K' '₹2,331K' '₹3,662K'
 '₹895K' '₹1,448K' '₹1,200K' '₹2,109K' '₹4,042K' '₹1,759K' '₹2,895K'
 '₹2,885K' '₹1,256K' '₹8,109K' '₹3,041K' '₹2,538K' '₹1,723K' '₹1,742K'
 '₹13,146K' '₹1,979K' '₹1,353K' '₹2,800K' '₹3,738K' '₹2,587K' '₹1,800K'
 '₹5,011K' '₹1,649K' '₹1,046K' '₹666K' '₹6,000K' '₹1,895K' '₹1,628K'
 '₹2,177K' '₹2,333K' '₹18,108K' '₹732K' '₹2,093K' '₹2,145K' '₹86K'
 '₹2,220K' '₹5,267K' '₹68K' '₹1,350K' '₹406K' '₹229K' '₹1,855K' '₹1,334K'
 '₹1,480K' '₹2,711K' '₹2,542K' '₹1,320K' '₹868K' '₹2,755K' '₹1,489K'
 '₹4,371K' '₹2,309K' '₹2,388K' '₹6,755K' '₹1,069K' '₹581K' '₹264K'
 '₹3,600K' '₹2,960K' '₹2,200K' '₹3,237K' '₹3,451K' '₹1,271K' '₹2,041K'
 '₹3,001K' '₹1,005K']

Min_Pay ==> ['₹817K' '₹206K' '₹770K' '₹926K' '₹507K' '₹822K' '₹20K' '₹203K' '₹1,068K'
 nan '₹584K' '₹1,086K' '₹879K' '₹1,402K' '₹925K' '₹ 12' '₹160K' '₹1,000K'
 '₹300K' '₹500K' '₹510K' '₹441K' '₹707K' '₹840K' '₹376K' '₹1,824K' '₹298K'
 '₹291K' '₹519K' '₹420K' '₹351K' '₹330K' '₹863K' '₹1,272K' '₹837K'
 '₹1,046K' '₹314K' '₹303K' '₹196K' '₹700K' '₹1,413K' '₹272K' '₹255K'
 '₹214K' '₹652K' '₹133K' '₹1,097K' '₹1,256K' '₹1,869K' '₹530K' '₹542K'
 '₹609K' '₹1,319K' '₹746K' '₹800K' '₹1,285K' '₹450K' '₹624K' '₹937K'
 '₹1,524K' '₹1,053K' '₹660K' '₹1,336K' '₹799K' '₹628K' '₹600K' '₹262K'
 '₹942K' '₹209K' '₹289K' '₹711K' '₹84K' '₹1,532K' '₹646K' '₹608K' '₹261K'
 '₹816K' '₹226K' '₹65K' '₹732K' '₹1,472K' '₹1,649K' '₹42K' '₹1,214K'
 '₹396K' '₹18K' '₹230K' '₹334K' '₹139K' '₹814K' '₹1,587K' '₹122K' '₹461K'
 '₹632K' '₹1,906K' '₹1,129K' '₹1,307K' '₹1,245K' '₹1,350K' '₹460K' '₹704K'
 '₹496K' '₹216K' '₹409K' '₹1,408K' '₹2,746K' '₹804K' '₹1,531K' '₹1,492K'
 '₹250K']

Rating ==> [4.  4.2 3.5 3.8 3.7 3.9 3.6 3.2 4.5 4.3 4.1 3.3 3.1 2.8 4.9 4.4 3.4 2.3
 nan 2.9 4.8 2.6 5.  4.6 2.7 4.7 2.4 2.2]

Positive ==> ['72%' '54%' '47%' '77%' '63%' '71%' '69%' '52%' '100%' '70%' '67%' '78%'

In [6]:
df.isnull().sum()

Headquarter         0
Size                0
Founded            81
Type                0
Industry            0
Revenue             0
Employer            0
Job_Title           0
Basic_Pay           0
Additional_Pay    475
Avg_Pay           581
Avg_Pay_Num        26
Avg_Pay_Text        3
Max_Pay           584
Min_Pay           584
Rating              1
Positive           23
Negative           27
Neutral            53
Online             72
Campus             85
Refferal          117
City                0
dtype: int64

## Column Formating

In [ ]:
### Column name : Type Column ###

def type_format(x):
    
    ''' Here we will convert various sectors into either 
    a "Private" Or a "Public" sector '''
    
    if "private" in x.lower():
        return "Private"
    elif "public" in x.lower():
        return "Public"
    elif x in ["Subsidiary or Business Segment","College / University","Franchise","Contract"]:
        return "Private"
    elif x in ["Non-profit Organisation","Government"]:
        return "Public"
    else:
        return x

## Call function on "Type" column
df["Type"]=df["Type"].apply(type_format)

## Check if replacement done properly
df["Type"].unique()

In [ ]:
### Column Name : Industry ###

def Common_industry(x):
    
    ''' There Are Multiple Similar Industries, Which Can Be Combined Together
    Under One Common Industry Name To Reduce The Number Of Unique Values In 
    Industry Column '''
    
    Banking_Finance=["Banks & Building Societies","Investment Banking & Asset Management",
                     "Lending","Accounting","Financial Analytics & Research","Insurance Operators",
                     "Financial Transaction Processing"]

    Consulting=["Consulting","Publishing"]

    Education=["Education Training Services","Colleges & Universities"]

    GovernmentAgencies=["Government Agencies","Energy","Oil & Gas Services","Aerospace & Defence",
                        "Research & Development","Social Services"]

    HealthcareMedicine=["Healthcare Services & Hospitals","Biotech & Pharmaceuticals"]

    InformationTechnology=["IT Services","Enterprise Software & Network Solutions","Computer Hardware & Software","Internet"]

    Manufacturing=["Industrial Manufacturing","Electrical & Electronic Manufacturing","Food & Drink Manufacturing",
                   "Consumer Products Manufacturing","Transportation Equipment Manufacturing","Department",
                   "Clothing, & Shoe Shops","Architectural & Engineering Services"]

    Outsource="Staffing & Outsourcing","Advertising & Marketing"

    RealEstate=["Real Estate","Brokerage Services"]

    Telecommunication_Television=["Telecommunications Services","Film Production & Distribution Cable", 
                                  "Internet & Telephone Providers","TV Broadcasting & Cable Networks"]

    Transportation=["Transportation Management","Bus & Coach Services","Shipping","Logistics & Supply Chain"]
                   
    x=x.strip()
                   
    if x in Banking_Finance:
        return "Banking/Finance"
    elif x in Consulting:
        return "Consulting"
    elif x in Education:
        return "Education"
    elif x in GovernmentAgencies:
        return "Government Agencies"
    elif x in HealthcareMedicine:
        return "Healthcare Medicine"
    elif x in InformationTechnology:
        return "Information Technology"
    elif x in Manufacturing:
        return "Manufacturing"
    elif x in Outsource:
        return "Outsource"
    elif x in RealEstate:
        return "Real Estate"
    elif x in Telecommunication_Television:
        return "Telecommunication/Television"
    elif x in Transportation:
        return "Transportation"
    else:
        return x  

## call function on "Industry" column
df["Industry"]=df["Industry"].apply(Common_industry)

## verify combined industries
df["Industry"].unique()

In [ ]:
### Column Name : Basic_Pay ###

def format_Basic_Pay(x):
    
    ''' Remove "₹" Sign and Comma's From Currancy Values,
    also replace invalid entries with Unknown '''
    
    if x=='No salaries reported.' or x=="NA":
        return "Unknown"
    elif "-" in x:
        a=x.split("-")[0].strip()
        a=a.replace('₹', '').replace(',', '')
        b=x.split("-")[1].strip()
        b=b.replace('₹', '').replace(',', '')
        return (int(a)+int(b))/2
    else:
        c=x.strip().replace('₹', '').replace(',', '')
        return int(c)
    
df["Basic_Pay"]=df["Basic_Pay"].apply(format_Basic_Pay)

In [ ]:
### Column Name : Avg_Pay ###

def format_Avg_Pay(x):
    
    ''' Remove "₹" Sign And Comma's From Avg_Pay values,
    also replace invalid values with Unknown'''
    
    if x=='No salaries reported.' or x==np.nan:
        return "Unknown"
    if type(x)==str:
        c=x.strip().replace('₹', '').replace(',', '')
        return int(c)
    else:
        return x
df["Avg_Pay"]=df["Avg_Pay"].apply(format_Avg_Pay)

In [ ]:
### Column Name: Avg_Pay_Num ###

df.Avg_Pay_Num.fillna("Unknown",inplace=True)

def format_Avg_Pay_Num(x):
    
    ''' Remove "₹" Sign And Comma's from Avg_Pay_Num column'''
    
    if x=="Unknown":
        return "Unknown"
    elif "-" in x:
        a=x.split("-")[0].strip()
        a=a.replace('₹', '').replace(',', '')
        b=x.split("-")[1].strip()
        b=b.replace('₹', '').replace(',', '')
        return (int(a)+int(b))/2
    else:
        c=x.strip().replace('₹', '').replace(',', '')
        return int(c)
    
df["Avg_Pay_Num"]=df["Avg_Pay_Num"].apply(format_Avg_Pay_Num)

In [ ]:
### Column Name : Pay Avg_Pay & Avg_Pay_Num ###

df["Avg_Pay"].fillna("Unknown",inplace=True)

def combine_Avg_Pay_Avg_Pay_Num(Avg_Pay,Avg_Pay_Num):
    
    ''' fill the values from Avg_Pay_Num into Avg_Pay, where
    Avg_Pay have Unknown values '''
    
    if Avg_Pay=="Unknown":
        return Avg_Pay_Num
    else:
        return Avg_Pay
    
df["Avg_Pay"]=df[["Avg_Pay","Avg_Pay_Num"]].apply(lambda row: combine_Avg_Pay_Avg_Pay_Num(row["Avg_Pay"],row["Avg_Pay_Num"]),axis=1)

### Linear Regression For Null Value Prediction

In [ ]:
### Apply a linear regression to fill the null values of Founded column with respect to Size ###

df_Founded=df[["Size","Founded"]]

df_Founded["Size"].replace({'1001 to 5000 Employees':4, '501 to 1000 Employees':3,
       '10000+ Employees':6, '5001 to 10000 Employees':5,
       '51 to 200 Employees':1, '1 to 50 Employees':0, '201 to 500 Employees':2},inplace=True)

train=df_Founded.dropna(axis=0)

x=train.drop("Founded",axis=1)
y=train["Founded"]

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x,y)

print("1 to 50 Employees",model.predict([[0]]))
print("51 to 200 Employees",model.predict([[1]]))
print("201 to 500 Employees",model.predict([[2]]))
print("501 to 1000 Employees",model.predict([[3]]))
print("1001 to 5000 Employees",model.predict([[4]]))
print("5001 to 10000 Employees",model.predict([[5]]))
print("10000+ Employees",model.predict([[6]]))

df["Founded"].fillna("Unknown",inplace=True)

import matplotlib.pyplot as plt
founded_hist=[]
for i in df.Founded.unique():
    if i!="Unknown":
        founded_hist.append(i)        
plt.hist(founded_hist,bins=10)

In [ ]:
### Fill the prediction of null values into Founded column and check the distrubution ###

def founded(x,y):
    
    ''' fill the null values of Founded using values predicted by above linear regression'''
    
    a={"1 to 50 Employees":2020,"51 to 200 Employees":2015,"201 to 500 Employees":2003,"501 to 1000 Employees":1991,
                   "1001 to 5000 Employees":1979,"5001 to 10000 Employees":1968,"10000+ Employees":1956}
    if y=="Unknown":
        return a[x]
    else:
        return y
    
df["Founded"]=df[["Size","Founded"]].apply(lambda row:founded(row["Size"],row["Founded"]),axis=1)

import matplotlib.pyplot as plt
plt.hist(df.Founded,bins=20)

In [ ]:
### For Type column, fill the Unknown valus with column mode ###

df.Type.replace({"Subsidiary or Business Segment":"Private","College / University":"Public","Non-profit Organisation":"Public",
                "Government":"Public","Contract":"Private"},inplace=True)

df.Type=df.Type.apply(lambda x: "Private" if "private" in x.lower() else x)
df.Type=df.Type.apply(lambda x: "Public" if "public" in x.lower() else x)

print("mode =>",df.Type.mode()[0],end="\n\n")
print(df.Type.value_counts())

df.Type.replace("Unknown","Private",inplace=True)

In [ ]:
### Fill unknown values of Industry with column mode ###

print(df.Industry.mode()[0])
df.Industry.replace("Unknown / Non-Applicable","Information Technology",inplace=True)

### SVM to Predict Null Values

In [ ]:
### Apply SVM to fill the null values of Revenue columns ###

df.Revenue.replace("Unknown / Non-Applicable","Unknown",inplace=True)
df_revenue=df[["Size","Founded","Type","Revenue"]]

df_revenue["Revenue"].replace({"$10+ billion (USD)":11,"$5 to $10 billion (USD)":10,"$2 to $5 billion (USD)":9,"$1 to $2 billion (USD)":8,
"$500 million to $1 billion (USD)":7,"$100 to $500 million (USD)":6,"$50 to $100 million (USD)":5,
"$25 to $50 million (USD)":4,"$10 to $25 million (USD)":3,"$5 to $10 million (USD)":2,"$1 to $5 million (USD)":1,
"Less than $1 million (USD)":0},inplace=True)
df_revenue["Size"].replace({"1 to 50 Employees":0,"51 to 200 Employees":1,"201 to 500 Employees":2,"501 to 1000 Employees":3,
                   "1001 to 5000 Employees":4,"5001 to 10000 Employees":5,"10000+ Employees":6},inplace=True)
df_revenue["Type"].replace({"Private":1,"Public":0},inplace=True)

# Training
x=df_revenue[df_revenue["Revenue"]!="Unknown"].drop("Revenue",axis=1)
y=df_revenue[df_revenue["Revenue"]!="Unknown"]["Revenue"]
y=y.astype('int')

# Testing
x1=df_revenue[df_revenue["Revenue"]=="Unknown"].drop("Revenue",axis=1)
y1=df_revenue[df_revenue["Revenue"]=="Unknown"]["Revenue"]

### Support Vector Machine

In [ ]:
### Data Scaling ###

from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)
x1=scaler.fit_transform(x1)
from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC
svm=SVC(random_state=40)
svm.fit(x,y)
svm.score(x,y)

### HyperParameter Tuning Using GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV

param=[
    {"C":[1,4,8,12],
     "gamma":["scale",1,0.1,0.01,0.001,0.001],
     "kernel":["rbf"]}]

Tuned_params=GridSearchCV(SVC(),param,cv=5,scoring="accuracy",verbose=0)
Tuned_params.fit(x,y)
print(Tuned_params.best_params_)

from sklearn.svm import SVC
svm=SVC(C=12,gamma=1,random_state=40)
svm.fit(x,y)

print("\n Tuned Model Score =>",svm.score(x,y))

In [ ]:
### Replace the Unknown values with Revenue ###

df.loc[df.Revenue=="Unknown","Revenue"]=svm.predict(x1)
df["Revenue"].replace({11:"$10+ billion (USD)",10:"$5 to $10 billion (USD)",9:"$2 to $5 billion (USD)",8:"$1 to $2 billion (USD)",
             7:"$500 million to $1 billion (USD)",6:"$100 to $500 million (USD)",5:"$50 to $100 million (USD)",
             4:"$25 to $50 million (USD)",3:"$10 to $25 million (USD)",2:"$5 to $10 million (USD)",1:"$1 to $5 million (USD)",
             0:"Less than $1 million (USD)"},inplace=True)

df.Revenue.unique()

In [ ]:
### Remove the Unwanted Columns ###

df.Job_Title="Data Scientist"
df.drop(["Additional_Pay","Avg_Pay_Num","Avg_Pay_Text","Max_Pay","Min_Pay"],axis=1,inplace=True)

In [ ]:
### Formating Positive,Negative,Neutral,Online,Campus,Refferal and Rating all together ###

## Remove "%" sign from columns
for i in ["Positive","Negative","Neutral","Online","Campus","Refferal"]:
    df[i]=df[i].str[:-1]

    
## Fill null values with column mean 
for i in ["Rating","Positive","Negative","Neutral","Online","Campus","Refferal"]:
    df[i]=df[i].apply(pd.to_numeric)
    df[i].fillna(df[i].mean(),inplace=True)
    
df.isnull().sum()

In [ ]:
### Convert the montly Avg_Pay and Basic_Pay into annual package ###

## First of all lets make a new column stating if salaries are annualy or monthly
df["Monthly"]=df["Job_Title"].apply(lambda x: "Yes" if "monthly" in x.lower() else "No")
print(df.Monthly.value_counts())

def monthtoannual(x,y):
    
    ''' Where Salary Is Monthly Converting It Into Annual Package'''
    
    if x=="Yes":
        return y*12
    else:
        return y
    
df.Basic_Pay=df[["Monthly","Basic_Pay"]].apply(lambda row:monthtoannual(row["Monthly"],row["Basic_Pay"]),axis=1)

df.Avg_Pay=df[["Monthly","Avg_Pay"]].apply(lambda row:monthtoannual(row["Monthly"],row["Avg_Pay"]),axis=1)

In [ ]:
### Fill the Unknown values of Basic_Pay and Avg_Pay with column mean ###

df.Basic_Pay.replace("Unknown",round(df[df["Basic_Pay"]!="Unknown"]["Basic_Pay"].mean(),2),inplace=True)
df.Avg_Pay.replace("Unknown",round(df[df["Avg_Pay"]!="Unknown"]["Avg_Pay"].mean(),2),inplace=True)

In [ ]:
### Column Name : Headquarter ###

## Clean the Headquarter
df["Headquarter"]=df["Headquarter"].apply(lambda row: row.split(",")[1])
df["Headquarter"]=df["Headquarter"].str.strip()

conuntries=[]
for i in df["Headquarter"].unique():
    if len(i)==2:
        conuntries.append(i)
        
full_name=["New York","Morocco","Michigan","Connecticut","New Joursey","California","Washington","Illinois","Ohio","Missouri","Minnesota",
"Alabama","Pennsylvania","Texas","Hanover","North Carolina","South Carolina","Florida","Virginia","Georgia","Nevada","Arizona",
"Wisconsin","Kansas","Colorado","Oklahoma","Louisiana"]

df["Headquarter"].replace(dict(zip(conuntries,full_name)),inplace=True)
df["Headquarter"].unique()

In [ ]:
### Calulate the age of company from founding year ###

df["Founded"]=2021-df["Founded"]

In [ ]:
### Check Data Types ###

df.info()

In [ ]:
## Check the unique values categorical columns

for i in df.columns:
    if type(df[i][1]) == str:
        print(i,"==>",df[i].unique())
        print()

### Final Cleaned Data

In [ ]:
### Cleaned an Fomatted Data ###
df.head()

### Export Data

In [ ]:
### Export the data to CSV file ###

# df.to_csv("Glassdoor_Cleaned.csv",index=False)